<ul class="list-group">
    <li class="list-group-item" >
        <a href="#">Event Management</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Create New Event</a>
            </li>
            <li class="list-group-item">
                <a href="#">Manage Events (Edit, Update, Delete)</a>
            </li>
            <li class="list-group-item">
                <a href="#">Event Analytics</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">
        <a href="#">User Management</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Manage Users (View, Edit, Delete)</a>
            </li>
            <li class="list-group-item">
                <a href="#">Messaging and Notification</a>
            </li>   
            <li class="list-group-item">
                <a href="#">Attendee Insights</a>
            </li>            
        </ul>
    </li>
    <li class="list-group-item">
        <a href="#">Financial Management</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Pricing and Discounts</a>
            </li>
            <li class="list-group-item">
                <a href="#">Refunds</a>
            </li>
            <li class="list-group-item">
                <a href="#">Financial Analytics</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">
        <a href="#">Insights and Settings</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Platform Analytics</a>
            </li>
            <li class="list-group-item">
                <a href="#">Feedback and Surveys</a>
            </li>            
        </ul>
    </li>
</ul>