<ul class="list-group">
    <li class="list-group-item">
        <a href="#">My Events</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Registered Events</a>
            </li>
            <li class="list-group-item">
                <a href="#">Cancel Event</a>
            </li>            
        </ul>
    </li>
    <li class="list-group-item">
        <a href="#">Profile Management</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Edit Profile</a>
            </li>
            <li class="list-group-item">
                <a href="#">Change Password</a>
            </li>
            
        </ul>
    </li>
    <li class="list-group-item">
        <a href="#">Notifications</a>        
    </li>
    <li class="list-group-item">
        <a href="#">Feedback and History</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Leave Feedback</a>
            </li>
            <li class="list-group-item">
                <a href="#">Event History</a>
            </li>            
        </ul>
    </li>
</ul>