{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container profile-container">
  <div class="sidebar">
    {% block sidebar %}
        <ul>
            {% if user.is_staff %}
                <li><a href="{% url 'admin_reports' %}">Admin Reports</a></li>
            {% else %}
                <li><a href="{% url 'my_events' %}">My Events</a></li>
            {% endif %}
        </ul>
    {% endblock %}
</div>
<div class="main-content">
    {% block profile_content %}
        <h3><p>Default profile content.</p></h3>
    {% endblock %}
</div>
</div>



{% endblock content %}