{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center align-items-center">
    <div class="col-lg-8 col-12">
        <div class="card shadow-lg" style="padding: 5rem; transform: translateY(10%); ">
          <h1 style="font-size: 3rem;">{% trans "Sign In" %}</h1>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p style="font-size: 2rem;">{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot" style="font-size: 2rem;">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p style="font-size: 2rem;">{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}" style="font-size: 2rem;">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}" style="font-size: 2rem;">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
                      
            <button class="btn btn-primary btn-lg" type="submit" style="background-color: var(--primary-color);font-size: 2rem;">{% trans "Sign In" %}</button>
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </form>
        </div>
    </div>
  </div> 
</div>

{% endblock content %}