{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center align-items-center">
    <div class="col-lg-8 col-12">
      <div class="card shadow-lg" style="padding: 5rem; transform: translateY(10%); ">
        <h1 style="font-size: 3rem;">{% trans "Sign Up" %}</h1>
        <p style="font-size: 2rem;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>        

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" style="font-size: 2rem;">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-primary btn-lg" style="background-color: var(--primary-color);font-size: 2rem;">{% trans "Sign Up" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
