{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="home">
    <section class="container home-hero-section">
        <!-- message -->
        <div class="messages text-center"></div>
        <!-- end of messge -->
        <div class="row hero-row">
            <div class="col-lg-5 col-12 home-hero-text">
                <h1>Plan. Manage. Book. Simplified.</h1>
                <p> Effortlessly create, manage, and attend webinar events with EventEase. Make your experience unforgettable.</p>
                <div class="home-call-to-action">
                    <button type="button" class="btn btn-primary btn-lg" id="home-explore-events">Explore Events</button>
                    <button type="button" class="btn btn-secondary btn-lg" id="home-signup-btn">Signup</button>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <img src="{% static 'images/webinar.jpg' %}" class="img-fluid home-hero-image" alt="event">
            </div>
        </div>
    </section>
    <section class="container upcoming-events-section">
        <h2>Upcoming Events</h2>
        <div class="row upcoming-events-row">
            <div class="col-4">
                <div class="card" style="width: 80%;">
                    <img src="{% static 'images/A Man In A Webinar.png' %}" class="card-img-top img-fluid" alt="event">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>            
            </div>
            <div class="col-4">
                <div class="card" style="width: 80%;">
                    <img src="{% static 'images/A Man In A Webinar.png' %}" class="card-img-top img-fluid" alt="event">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>   
            </div>
            <div class="col-4">
                <div class="card" style="width: 80%;">
                    <img src="{% static 'images/A Man In A Webinar.png' %}" class="card-img-top img-fluid" alt="event">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <section class="container simple-steps-section">
        <h2>4 Simple Steps</h2>
        <div class="row simple-steps-row">
            <div class="col-6 col-lg-3 mb-5">
                <div class="card" style="width: 70%;">
                    <i class="fa-solid fa-right-to-bracket"></i>                
                    <div class="card-body">
                    <h5 class="card-title">Register & Login</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content. 
                        Some quick example text to build on the card title and make up the bulk of the card's content.</p>                  
                    </div>
                </div>            
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card" style="width: 70%;">
                    <i class="fa-regular fa-hand-pointer"></i>
                    <div class="card-body">
                    <h5 class="card-title">Select Event</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>                  
                    </div>
                </div>   
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card" style="width: 70%;">
                    <i class="fa-regular fa-credit-card"></i>
                    <div class="card-body">
                    <h5 class="card-title">Pay for Event</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>                  
                    </div>
                </div>   
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card" style="width: 70%;">
                    <i class="fa-solid fa-person-walking"></i>
                    <div class="card-body">
                    <h5 class="card-title">Attend Event</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>                  
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <section class="container testimonials-section">
        <h2>Testimonials</h2>
        <div class="row testimonials-row">
            <div class="col-6 col-lg-3 mb-5">
                <div class="card" style="width: 70%;">
                    <img src="{% static 'images/A Man In A Webinar.png' %}" class="card-img-top img-fluid" alt="event">
                    <div class="card-body">
                    <p>Name</p>         
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    </div>
                </div>            
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card" style="width: 70%;">
                    <img src="{% static 'images/A Man In A Webinar.png' %}" class="card-img-top img-fluid" alt="event">
                    <div class="card-body">
                        <p>Name</p>         
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>       
            <div class="col-6 col-lg-3 mb-5">
                <div class="card" style="width: 70%;">
                    <img src="{% static 'images/A Man In A Webinar.png' %}" class="card-img-top img-fluid" alt="event">
                    <div class="card-body">
                        <p>Name</p>         
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
            <div class="col-6 col-lg-3 mb-5">
                <div class="card" style="width: 70%;">
                    <img src="{% static 'images/A Man In A Webinar.png' %}" class="card-img-top img-fluid" alt="event">
                    <div class="card-body">
                        <p>Name</p>         
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>   
            </div>
        </div>
    </section>
</div>
{% endblock content %}
 