{% extends "users/attendee_dashboard.html" %}
{% load static %}

{% block profile_content %}
  <!-- Messages -->
  <div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <li class="{{ message.tags }}">{{ message }}</li>
        </div>           
        {% endfor %}
    </ul>
    {% endif %}
  </div>

<div class="welcome_box" >
    <div></div>
    <p class="text-center">Booking Listing</p>
    <div></div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">            
            <div class="card text-center mb-3 ">
                <div class="card-header">
                    <div class="welcome_box" >
                        <div></div>
                        <p class="text-center">Unpaid Bookings</p>
                        <div></div>
                    </div>
                </div>
                <div class="card-body" >
                    <!-- Unpaid bookings -->
                    {% if not unpaid_bookings %}
                    <h4 style="font-size: 2rem;">No Current Unpaid Bookings</h4>
                    {% else %}
                    <table class="table" style="font-size: 2rem;">
                        <thead>
                        <tr>
                            <th scope="col">Event Title</th>
                            <th scope="col">Event Date</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for booking in unpaid_bookings %}
                            <tr>
                                <th>{{booking.event.title}}</th>                                    
                                <td>{{booking.event.date}}</td>
                                <td>{{booking.event.price}}</td>
                                <td>
                                    <a href="{% url 'booking-payment' booking.pk %}" class="btn btn-primary btn-pay" style="background-color: var(--primary-color); font-size: 1.7rem;">Pay for Event</a>
                                </td>
                            </tr> 
                            {% endfor %} 
                        </tbody>
                    </table> 
                    <!--  end of upaid-->
                    {% endif %}  
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card text-center mb-3 ">
                <div class="card-header">
                    <div class="welcome_box" >
                        <div></div>
                        <p class="text-center">Paid Bookings</p>
                        <div></div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- start-->
                    {% if not paid_bookings %}
                        <h4 style="font-size: 2.2rem;">No Paid Bookings</h4>
                    {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Event Title</th>
                            <th scope="col">Event Date</th>
                            <th scope="col">Price(Amount Paid)</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for booking in paid_bookings %}
                            <tr>
                                <th>{{booking.event.title}}</th>                                    
                                <td>{{booking.event.date}}</td>
                                <td>{{booking.event.price}}</td>
                                <td>{{booking.payment_status}}</td>
                                <td>
                                    <a href="{% url 'booking-cancel' booking.pk %}" class="btn btn-danger btn-cancel" style="background-color: var();">Cancel Booking</a>
                                </td>
                            </tr> 
                            {% endfor %} 
                        </tbody>
                    </table> 
                    {% endif %}
                    <!-- end -->
                </div>
            </div>
        </div>        
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card text-center ">
                <div class="card-header">
                    <div class="welcome_box" >
                        <div></div>
                        <p class="text-center">Canceled Bookings</p>
                        <div></div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- start-->
                    {% if not canceled_bookings %}
                    <h4 style="font-size: 2.2rem;">No Canceled Bookings</h4>
                    {% else %}
                    <div class="card shadow-lg" style="width: 100%">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Event Title</th>
                                <th scope="col">Event Date</th>
                                <th scope="col">Price(Amount Refunded)</th>
                                <th scope="col">Booking Status</th>
                                <th scope="col">Refund Status</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for booking in canceled_bookings %}
                                <tr>
                                    <th>{{booking.event.title}}</th>                                    
                                    <td>{{booking.event.date}}</td>
                                    <td>{{booking.price}}</td>
                                    <td>{{booking.booking_status}}</td>
                                    <td>{{booking.payment_status}}</td>
                                </tr> 
                                {% endfor %} 
                            </tbody>
                          </table>            
                    </div>
                    {% endif %}
                    <!-- end -->
                </div>
            </div>
        </div>     
    </div>
    
</div> 
{% endblock %}



   

