{% extends "users/attendee_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block profile_content %}


<form method="post" style="font-size: 2rem;">
    <div>
        <h2 style="font-size: 3.5rem; margin-bottom: 10px;">Event Topic: {{event.title}}</h2>
        <img src="{{event.image.url}}" alt="{{event.title}}" style="display: inline-block; height: 300px; width: 300px;">
        <p style="font-size: 2rem;">Price: {{event.price}}</p>
        <p style="font-size: 2rem;">Attendee: {{user.first_name}} {{user.last_name}}</p>
        <p style="font-size: 2rem;">Organiser: {{organiser.first_name}} {{organiser.last_name}} - ({{organiser.username}})</p>
        
    </div>
    {% csrf_token %}
    {{ form | crispy }}
   
    <button type="submit" class="btn btn-primary btn-lg" style="background-color: var(--primary-color);">Book Event</button>
</form>
{% endblock %}




