:root {
  --primary-color: #4CAF50; 
  --secondary-color: #FFC107;
  --accent-color: #FF5722;
  --background-color: #FFFFFF;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --error-color: #F44336;
  --soft-shade: #F0F4FF;
  --light-gray: #F7F7F7;
  --muted-neutral: #E5E5E5; 

}

html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* min-height: 100vh; */
}
body {
  line-height: 1.7;
}
header {
  background-color: var(--background-color);       
  padding: 12px 0 0 0;
}

.topbar-container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;  
}
.topbar .topbar-brand, .bottombar .navbar-brand {
  display: inline-block;
  text-decoration: none; /* Remove underline */
  font-size: 3rem;
  font-weight: bold;
  
}
.topbar-brand .event {
  padding: 10px;
  color: #fff;
  background-color: var(--primary-color);  
}
.topbar-brand .ease {
  color: var(--text-color);     
  
} 


ul.social-media-icons {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}

.social-media-icons li {
  transform: translateY(3px);
}



.social-media-icons li a , .topbar-container a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 3rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.fa-square-facebook:hover { color: #1877F2; }
.fa-square-instagram:hover { background-color: #1DA1F2; }
.fa-square-x-twitter:hover {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
}
.fa-linkedin:hover { background-color: #0077B5; }

nav.navbar {
  background-color: var(--primary-color) !important;
  height: 60px;
}


.bottombar-container {
  

}
.bottombar .navbar-brand {
  
}

.bottombar .event {
  
}

.bottombar .ease {

}

.bottombar li a {
  font-size: 2.6rem;
  font-weight: 500;
  margin-right: 10px;
  color: var(--background-color);
}

.bottombar-container .search-icon2 {
  font-size: 2rem;
}

.bottombar-container {
  display: flex;
  justify-content: space-between;
}

.bottombar-container .navbar-brand {
  margin-right: auto;        
}

/* MAIN */
main {
  min-height: 78vh;  
}

/**************** HOME *******************/
/* HOME HERO SECTION */
.home-hero-section {
  background-color: var(--background-color);
  padding-bottom: 20px;
}

.home-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);  
}

.home-hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.home-hero-text p {
  font-size: 2rem;
  text-align: center;
  color: var(--secondary-text-color);
}

.home-call-to-action {
  margin: 10px 0 20px 0;
}

.home-call-to-action .btn, .sidebar .btn {
  font-size: 2rem;
  background-color: var(--primary-color);
}

.home-call-to-action .btn:first-child {
  margin-right: 10px;
}


@media (min-width: 992px) { 
  .home-hero-text h1 {
    margin-top: 12rem;
    font-size: 4.2rem;    
  }
}

/* HOME UPCOMING EVENTS SECTION */
.upcoming-events-section {
  background-color: var(--muted-neutral);
  padding: 5px 0 20px 0;
}

.upcoming-events-section h2 {
  color: var(--text-color);
  font-size: 2.8rem;
}


/* HOME 4 SIMPLE STEPS SECTION */
.simple-steps-section {
  background-color: var(--background-color);
  padding: 20px 0 20px 0;
}
.simple-steps-section h2 {
  color: var(--text-color);
  font-size: 2.8rem;
}
.card {
  padding: 15px 0;
}
.card i {
  font-size: 4.5rem;
  text-align: center;
}

.card h5 {
  font-size: 2.2rem;
}

@media (min-width: 992px) { 
  .bottombar .navbar-brand {
    display: none;
  }

   .search-icon2 {
    display: none;
  }

  footer .fistcol {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 992px) {
  .topbar {
    display: none;
  }
  
 .bottombar .event {
  color: #fff;
 }
 .bottombar .ease {
  padding: 10px;  
  background-color: var(--background-color); 
 }
 .search-icon2 i {
  color: var(--background-color);
  font-size: 3rem;
  margin-right: 10px;
 }

.navbar-toggler {
   border-color: var(--background-color);
   font-size: 2.7rem; 
 }
 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
 }

  .navbar-nav {  
  display: block;
  background-color: var(--primary-color);
  padding-left: 20px;
 } 

}

/**************** PROFILE *******************/

.profile-container {
  padding: 20px 10px;
}

.dashboard-menu {
  background-color: var(--primary-color);
  color: var(--background-color);
}

/* Hide submenus by default */
ul.list-group ul {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

/* Show submenus when the parent is hovered */
ul.list-group li:hover > ul {
  display: block;
}

/* Optional: Add some styling to the submenu items */
ul.list-group ul li {
  padding: 5px 0;
}




/**************** EVENTS *******************/
.register_event {
  
  
}


/**************** FOOTER *******************/
footer {
background-color: var(--primary-color);
padding: 20px 0;
color: #fff;
font-size: 18px;
font-weight: 400;
}

ul.footer-social-media {
display: flex;
list-style: none;
gap: 10px;
align-items: center;        
}

.footer-social-media li a {
color: #fff;
text-decoration: none;
font-size: 1.5rem;
}





