:root {
  --primary-color: #4CAF50; 
  --secondary-color: #FFC107;
  --accent-color: #FF5722;
  --background-color: #FFFFFF;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --error-color: #F44336;
  --soft-shade: #F0F4FF;
  --light-gray: #F7F7F7;
  --muted-neutral: #E5E5E5; 
  --lighter-primary-color: #50c454;

}

/* .tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
}
  
*/

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {   
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

header {
  background-color: var(--background-color);       
  padding: 12px 0 0 0;
}


.topbar-container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;  
}
.topbar .topbar-brand, .bottombar .navbar-brand {
  display: inline-block;
  text-decoration: none; /* Remove underline */
  font-size: 3rem;
  font-weight: bold;
  
}
.topbar-brand .event {
  padding: 10px;
  color: #fff;
  background-color: var(--primary-color);  
}
.topbar-brand .ease {
  color: var(--text-color);     
  
} 


ul.social-media-icons {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}

.social-media-icons li {
  transform: translateY(3px);
}

.social-media-icons li a , .topbar-container a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 3rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.fa-square-facebook:hover { color: #1877F2; }
.fa-square-instagram:hover { background-color: #1DA1F2; }
.fa-square-x-twitter:hover {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
}
.fa-linkedin:hover { background-color: #0077B5; }

nav.navbar {
  background-color: var(--primary-color) !important;
  height: 60px;
}

@media (max-width: 992px) {
  nav, header {
    z-index: 100;
  }
}


.bottombar li a {
  font-size: 2.6rem;
  font-weight: 500;
  margin-right: 10px;
  color: var(--background-color);
}

.bottombar-container .search-icon2 {
  font-size: 2rem;
}

.bottombar-container {
  display: flex;
  justify-content: space-between;
}

.bottombar-container .navbar-brand {
  margin-right: auto;        
}

/* MAIN */
main {
  min-height: 78vh;  
}

/**************** HOME *******************/

/* HOME HERO SECTION */

.home-hero-section {
  background-color: var(--background-color);
  padding: 10px 0 20px 0;  
}

.home-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);    
}

.home-hero-text h1 {  
  font-weight: 700;
  text-align: center;
  font-family: "Tinos", serif; 
  font-style: normal;
}

.home-hero-text p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  color: var(--secondary-text-color);
}

.home-call-to-action {
  margin: 10px 0 20px 0;
}

.home-call-to-action .btn, .sidebar .btn { 
  font-size: 2.2rem;  
  color: var(--background-color);
}

.home-call-to-action .btn:first-child {
  margin-right: 10px;
  background-color: var(--secondary-color);
  padding: 1rem;
}
.home-call-to-action .btn:last-child {
  background-color: var(--primary-color);
  padding: 1rem;
}


@media (min-width: 992px) { 
  .home-hero-text h1 {
    margin-top: 12rem;
    margin-bottom: 2rem;
    font-size: 4.2rem;    
  }
  .home-hero-text p {
    font-size: 2.3rem;    
  }
}
@media (max-width: 991.5px) { 
  .home-hero-text h1 {
    margin-top: 7rem;
    margin-bottom: 2rem;
    font-size: 4.2rem;    
  }
  .home-call-to-action {
    margin-bottom: 4rem;
  }
}

/* HOME UPCOMING EVENTS SECTION */
 .upcoming-events-section {
  background-color: var(--muted-neutral);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 3rem;
} 

.upcoming-events-section h2 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
}

.upcoming-events .img-fluid {
  width: 100%;
  height: 200px;
}

.upcoming-events h5 {
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.upcoming-events p {
  font-size: 1.8rem;
  line-height: 1.2;
}
.upcoming-events a {
  font-size: 2rem;
  color: var(--secondary-color);
  background-color: var(--text-color);
  padding: 10px;
}

@media (min-width: 992px) {
  .upcoming-events h5 {    
    font-size: 1.9rem !important;
  }
  .upcoming-events a {
    font-size: 2rem;
    
  }
  .upcoming-events p {
    font-size: 1.8rem;
  }  
} 

@media (min-width: 460px) and (max-width: 767.5px) {
  .upcoming-events .card {
    width: 80%;     
   }
}
@media (min-width: 768px) {
  .upcoming-events .card {
    height: 350px;   
   }
}
@media (max-width: 767.5px) {
  .upcoming-events .card {
    margin-bottom: 1.5rem;
   }
}

/************** SIMPLE STEPS SECTION**************/
.simple-steps-section {
  padding: 2rem 0 3rem 0; 
}

.simple-steps-section h2 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 700;
  margin: 5px 0;
}

.simple-steps-row .card {
  padding: 2rem 0;
}

.simple-steps-row .card i {
  font-size: 6rem;
  color: var(--primary-color);
  margin: 2rem 0 1rem 0;
}

.simple-steps-row h5 {
  font-size: 2.3rem;
  color: var(--primary-color);  
  font-weight: 700;
}

.simple-steps-row p {
  font-size: 2.1rem;
  color: var(--secondary-text-color);
  
}

@media (max-width: 767.5px) {
  .simple-steps-row .card {
    padding-bottom: 4rem;
   }
}

@media (min-width: 430px) and (max-width: 767.5px) {
  .simple-steps-row .card {
    width: 80%;     
   }
}

@media (min-width:768px) {
  .simple-steps-row .card {
    height: 320px;
   }
}

/************** TESTIMONIALS SECTION**************/
.testimonials-section {
  background-color: var(--muted-neutral);  
  padding: 20px 10px;
  margin-bottom: 10px;
}

.testimonials-section h2 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 700;
  margin: 5px 0;
}

.testimonials-row .card {
  padding: 2rem 0;
}

.testimonials-row .card p:first-of-type {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-text-color);
  padding: 0 10px;
  
}
.testimonials-row .card p:last-of-type {
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary-text-color);
  padding: 0 10px;
  font-style: italic;
}


@media (max-width: 400px) {
  .testimonials-row .card-img-top {
    height: 300px;
  }
}

@media (min-width: 400.5px) and (max-width: 767.5px) {
  .testimonials-row .card-img-top {
    height: 200px;
  }
}
@media (min-width: 430px) and (max-width: 767.5px) {
  .testimonials-row .card {
    width: 80%;     
   }
}
@media (min-width: 768px) {
  .testimonials-row .card {
    height: 510px;
   }

   .testimonials-row img {
    height: 330px;
   }
}




@media (min-width: 992px) { 
  .bottombar .navbar-brand {
    display: none;
  }

   .search-icon2 {
    display: none;
  }

  footer .fistcol {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 992px) {
  .topbar {
    display: none;
  }
  
 .bottombar .event {
  color: #fff;
 }
 .bottombar .ease {
  padding: 10px;  
  background-color: var(--background-color); 
 }
 .search-icon2 i {
  color: var(--background-color);
  font-size: 3rem;
  margin-right: 10px;
 }

.navbar-toggler {
   border-color: var(--background-color);
   font-size: 2.7rem; 
 }
 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
 }

  .navbar-nav {  
  display: block;
  background-color: var(--primary-color);
  padding-left: 20px;
 } 

}

/**************** EVENTS *******************/
/* CONTAINER */
.events-page-container {
  padding: 20px 0; 
  background-color: var(--muted-neutral); 
  margin-top: 10px;   
}

.events-page-container h2 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 700;
  
  
}

.event-list-row .event-page-image {
  height: 250px;
  width: 100%;
}

.event-list-row .card-wrapper {
  padding: 20px;
  margin-bottom: 15px;  
}

.event-list-row .card {
  width: 90%; 
}

.event-card h5 {
  font-size: 2.5rem;
  color: var(--text-color);  
  font-weight: 700;
}

.event-card p {
  font-size: 2rem;
  padding: 0 10px;
  line-height: 1.3
  ;
}

.event-list-row .event-date, .event-list-row .event-time {
  font-size: 1.8rem;
  color: var(--secondary-text-color);
  font-weight: 700;   
}

.event-list-row .date, .event-list-row .time {
  font-style: italic;
}

.event-list-row .card a {
  padding: 6px;
  background-color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .event-list-row .card {
   height: 550px;
   
  }  
} 

/**************** EVENT DETAIL *******************/
/* CONTAINER */
.event-detail-container {
  padding: 25px 0;
}

.event-detail-container h1 {
  font-size: 3.5rem;
  margin-left: 3px;
}

.event-detail-card h5 {
  font-size: 3.2rem;
}

.event-detail-card p {
  font-size: 2rem;
}

.event-detail-card a {
  font-size: 1.9rem;
  background-color: var(--primary-color);
  margin: 0 5px;
}




/**************** PROFILE *******************/

.profile-container {
  padding: 20px 10px;
}

.dashboard-menu {
  background-color: var(--primary-color);
  color: var(--background-color);
}

/* Hide submenus by default */
ul.list-group ul {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

/* Show submenus when the parent is hovered */
ul.list-group li:hover > ul {
  display: block;
}

/* Optional: Add some styling to the submenu items */
ul.list-group ul li {
  padding: 5px 0;
}

.profile_main_content .welcome_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.profile_main_content .welcome_box div {
  height: 5px;
  background-color: var(--lighter-primary-color);
  flex: 1;
}
.profile_main_content .welcome_box p {
  font-size: 3rem; color: var(--lighter-primary-color);
  margin: 0 15px;
}

.profile_main_content .user_details {
  min-height: 200px;
  color: var(--primary-color);
  font-size: 3.5rem;
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
}

.profile_main_content .user_details div {
  margin-bottom: 20px;
}

.change_profile_btn_wrapper {
  margin: 5px 0 20px 0;
}

#div_id_address #id_address {
 font-size: 2.2rem !important;
}




/**************** DASHBOARD *******************/
.offcanvas-body .list-group  {
  margin: 0 40px;
  list-style: none;
}

.offcanvas-body .list-group li {
  margin: 10px 0;
}
.offcanvas-body .list-group li:hover {
  background-color: var(--lighter-primary-color);
}

.offcanvas-body a {
  color: #FFFFFF;
  font-size: 2.2rem;
  text-decoration: none;
}

.offcanvas-title {
  font-size: 2.8rem;
}



/**************** FOOTER *******************/
footer {
  background-color: var(--primary-color);
  padding: 20px 0;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 400;
}

.footer-social_media_icons {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}




/**************** PROFILE BOOKING LISTING *******************/
.profile_booking_listing {
 font-size: 2.1rem;
 padding: 15px 0;
}

.profile_booking_listing h2 {
  font-size: 3.1rem;
  font-weight: 700;  
}

.profile_booking_listing h4, .profile_booking_listing h5 {
  font-size: 2.7rem;
  font-weight: 700;  
}

.profile_booking_listing .card {
  margin-top: 10px;
}

.profile_booking_listing .btn-pay {
  font-size: 2rem;
  background-color: var(--primary-color);
}

#paid_bookings .btn-cancel {
  background-color: var(--error-color);
  font-size: 2rem;
}


/**************** DELETE USER ACCOUNT *******************/
.delete_container {
  padding: 100px 0;
}

.delete_container .card {
  font-size: 2rem;
  padding: 20px 0;
}

.delete_container button, .delete_container a {
  font-size: 2rem;
  font-weight: 400;
}

/**************** MODAL ELEMENT *******************/
#modalElement {
  font-size: 300%;
}

#modalElement .btn-close {
  font-size: 2.5rem;
}

#modalElement .custom-input {
 height: 4rem;
 font-size: 2.2rem; 
 flex: 1;
 color: var(--secondary-text-color);
}

#modalElement .btn-search-submit {
  font-size: 2.2rem;
  background-color: var(--primary-color);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(200deg);
}


/************** LOGIN FORM **************/
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="file"], 
textarea {
  height: 30px; /* Adjust the height as needed */
  font-size: 2.2rem;
  background: none !important; 
  background-color: transparent !important; 
  font-weight: 700;
  font-style: italic;
}

