{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container delete_container">
    <div class="row justify-content-center text-center">
        <div class="card delete-card shadow-lg col-5">
            <h1>Are you sure you want to delete your account?</h1>
            <p>This action is permanent and cannot be undone.</p>
            <form method="post" action="{% url 'user-account-delete' %}">
                {% csrf_token %}
                <button type="submit"  class="btn btn-primary btn-lg" style="background-color: var(--accent-color);">Yes, delete my account</button>
                <a href="{% url 'attendee-dashboard' %}" class="btn btn-primary btn-lg" style="background-color: var(--primary-color);">Cancel</a>                
            </form>
        </div>   
    </div>    
</div>


{% endblock %}