{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container profile-container">      
    <div class="sidebar">
        <!-- <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="offcanvas" data-bs-target="#dashboard-menu">{% if user.is_superuser and user.is_admin %}Admin Menu{% else %}Attendee Menu {% endif %}</button> -->
        <p style="text-align: end;"><a class="link-offset-1" data-bs-toggle="offcanvas" href="#dashboard-menu" style="font-size: 3rem; color: var(--accent-color);">{% if user.is_superuser and user.is_admin %}Admin Menu{% else %}Attendee Menu {% endif %}</a></p>

        <!-- Offcanvas Sidebar -->
        <div class="offcanvas offcanvas-start dashboard-menu" id="dashboard-menu">
            <div class="offcanvas-header">
            <h3 class="offcanvas-title">Admin Dashboard Menu</h3>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" style="font-size: 2.5rem; color: #FFF !important;"></button>
            </div>
            <div class="offcanvas-body">           
                <ul class="list-group">
                    <li><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'admin_event_create' %}">Create Event</a></li>
                    <li><a href="{% url 'event-list' %}">Delete Event</a></li>
                    <li><a href="{% url 'event-list' %}">Browse Events</a></li>  
                    <li><a href="{% url 'event-list' %}">Delete Attendee</a></li>                             
                </ul>
            </div>
        </div>        
    </div>
    <div class="profile_main_content">               
        {% block profile_content %}
        <div class="welcome_box">
            <div></div>
            <p class="text-center">Welcome back, {% if user.username %} {{ user.username}} {% else %} {{ user }}  {% endif %}</p>
            <div></div>
        </div>  
        <div class="user_details">
           <div class="name">
                <strong>Name: </strong> {% if user.first_name %} {{ user.first_name}} {{ user.last_name }} {% else %} {{ user }}  {% endif %}
                
           </div>
           <div class="role">
                <strong>Role: </strong> {{ user.role }} 
           </div>
           <div class="last-login">
                <strong>Last logged in: </strong> {{ user.last_login }} 
           </div>           
        </div>  

        <!-- App Analytics Here -->
        <div class="welcome_box">
            <div></div>
            <p class="text-center">Application Analytics</p>
            <div></div>
        </div> 
        <div class="analytics-details">
            <div class="total_bookings">
                <i class="fa-solid fa-book fa-5x" style="color: var(--primary-color); margin-right: 50px;"></i> <span style="font-size: 5rem;">{{ total_bookings_analytics }}</span>
            </div>

        </div>  
        {% endblock %}
    </div> 
</div> 
{% endblock %}


