{% extends "users/attendee_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block profile_content %}
<div class="welcome_box" >
    <div></div>
    <p class="text-center">My Profile Page</p>
    <div></div>
</div>  
<div class="row justify-content-center" style="margin-bottom: 20px;">
    <div class="col-12 col-md-6" id="profile_user_profile" style="margin: 0 0 20px 0;">
        <div class="card text-center d-flex justify-content-center align-items-center" style="font-size: 2.5rem;">
            {% if user.image %}
            <img src="{{ user.image.url }}" class="card-img-top" alt="user.username" style="width: 40%; margin: 10px 0;">
            {% else %}
                <img src="{% static 'images/default.jpg' %}" alt="Default Image" style="width: 40%; margin: 10px 0;">
            {% endif %}           

            <p><strong>Username:          </strong>{{ user.username }}</p>
            <p><strong>Full Name:         </strong>{{ user.first_name }} {{ user.last_name }} {% if not user.first_name %} None (Update your preferences) {% endif %}</p>
            <p><strong>Email:          </strong>{{ user.email }}</p>
            <p><strong>Address:          </strong>{{ user.address }}</p>
            <p><strong>Country:          </strong>{{ user.country }}</p>
            <p><strong>Phone:          </strong>{{ user.phone_number }}</p>
            <p><strong>Date Joined:          </strong>{{ user.date_joined }}</p>     
            <div class="change_profile_btn_wrapper">
                <button class="btn btn-primary btn-lg" style="background-color: var(--secondary-color); font-size: 2rem; color: var(--primary-color)" onclick="toggleForm()">
                    Change Profile Preference
                </button>
            </div>  
        </div>        
    </div>
    <div class="col-12 col-md-6" id="form_card_update" style="display: none;">
        <div class="card update_form_card">
            <form method="post" enctype="multipart/form-data" style="font-size: 2.9rem; padding: 20px;">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary btn-lg" style="background-color: var(--primary-color); font-size: 2.8rem;">Update</button>
            </form>
        </div>
    </div>    
</div>


{% endblock %}


