{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container delete-confirmation" style="padding: 30px 0;">
    <div class="row justify-content-center text-center">
        <div class="col-lg-6 shadow-lg" style="font-size: 2.5rem; padding: 30px 0;">
            <h1>Confirm Delete</h1>
            <p>Are you sure you want to delete the event "{{ event.title }}"?</p>
    
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg" style="font-size: 1.9rem;">Yes, Delete</button>
                <a href="{% url 'event-list' %}" class="btn btn-secondary btn-lg" style="font-size: 1.9rem;">Cancel</a>
            </form>
        </div>       
    </div>
</div>

{% endblock %}